/* Default CSS */
/* Base Styles */

body {
  padding: 0;
  margin-top: 10px;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 0.8em;
  text-align: center;
  line-height: 1.5em;
  color: #2f3746;
  background: #f2f9fe url(images/main.bg.png) repeat-x top;
}

a, a:visited, a:active {
  color: #2d3644;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #5493ff;
  text-decoration: underline;
}

/* Main Layout */

#wrapper {
  margin: 0 auto;
  width: 1000px;
  border: 1px solid #94a4ac;
  background: #ffffff;
}

#page-wrapper {
  padding: 0;
  margin: 10px auto;
  width : 980px;
  text-align: left;
  background: #ffffff;
}

#middle-wrapper {
}

body.sidebars #middle-wrapper {
   background: url(images/sidebar-bg.png) repeat-y;
}

body.sidebar-left #middle-wrapper {
   background: url(images/sidebar-bg-left.png) repeat-y left;
}

body.sidebar-right #middle-wrapper {
   background: url(images/sidebar-bg-right.png) repeat-y right;
}

#main-content {
  float: left;
  width: 100%;
}

#squeeze {
}

#main-content-inner {
  padding: 10px 20px;
  margin: 0; 
}

#middle-wrapper .sidebar-right {
  float: left;
  z-index: 1;
  position: relative;
}

#middle-wrapper .sidebar-left {
  float: left;
  z-index: 1;
  position: relative;
}

body.sidebars #main-content { 
  margin-left: -200px;
  margin-right: -200px;
}

body.sidebar-left #main-content { 
  margin-left: -200px;
}

body.sidebar-right #main-content { 
  margin-right: -200px;
}

body.sidebars #squeeze { 
  margin: 0 200px 0 200px;
}

body.sidebar-left #squeeze { 
  margin-left: 200px;
} 

body.sidebar-right #squeeze { 
  margin-right: 200px;
}

#middle-wrapper .sidebar-left {
  width: 200px;
}

#middle-wrapper .sidebar-right { 
  width: 200px;
}

.sidebox-left h3, .sidebox-right h3 {
  padding: 0 5px;
  margin: 0;
  font-size: 1.0em;
  font-weight: bold;
  line-height: 34px;
  background: url(images/sidebox-h3.png) no-repeat;
}

.sidebox-left, .sidebox-right {
  padding: 18px 18px 0 18px;
  width: 164px;
}

.sidebox-content {
  margin: 0;
  padding: 5px 0px;
}

#topboxes {
  padding: 0;
  margin: 0;
  background: #c3d9ff url(images/bb-bg.png) repeat-x top;
}

#topboxes a {
  font-weight: bold;
}

#topboxes a:hover {
  color: #ffffff;
}


#bottomboxes {
  padding: 0;
  margin: 0;
  color: #ffffff;
  background: #111318;
}

#bottomboxes a {
  color: #cbdeff;
  font-weight: bold;
}

.userbox, .userbox-bottom {
  float: left;
}

.userbox-inner {
  padding: 20px;
}

.userbox-bottom-inner {
  padding: 20px;
  background: #111318;
}

.width25 {width: 25%;}
.width33 {width: 33.3333%;}
.width50 {width: 50%;}
.width100 {width:100%;}

#footer {
  padding: 10px;
  margin: 0;
  clear: both;
  text-align: center;
  background: #111318;
}

/* Header */

#header-wrapper {
  height: 100px;
  background: url(images/header-bg.png) no-repeat; 
}

#site-logo {
  padding: 12px 0 0 0;
  height: 77px;
  float: left;
  border: 0;
}

#site-name {
  padding: 17px 0 0 10px;
  margin: 0;
  float: left;
  text-align: right;
}

#site-name a {
  font-size: 54px;
  font-weight:900;
  line-height: 54px;
  color: #ff6c00;
  text-decoration: none;
}

.site-slogan-logo h2 {
  margin-top: -20px;
  padding: 0;
  font-size: 12px;
  line-height: 12px;
  text-align: right;
}


.site-slogan h2 {
  margin-top: 0;
  padding: 0;
  font-size: 12px;
  line-height: 12px;
  text-align: right;
}

#search-box {
  float: right;
  padding: 40px 20px 0 0;
} 

/* Side Menu */

.sidebox-content ul.menu, .sidebox-content ul.menu li {
  position: relative; 
  margin: 0;
  padding: 0;
  list-style-image: none;
  list-style: none;
  list-style-type: none;
}

.sidebox-content ul.menu li {
  padding: 0;
  margin-left: 0;
  background: url(images/li-bg.png) repeat-x bottom;
}

.sidebox-content ul.menu li a {
  display: block;
  padding: 5px 5px 5px 2px;
  font-weight: bold;
}

.sidebox-content ul.menu li a:hover {
  color: #ffffff;
  font-weight: bold;
  background: #303948 url(images/primary-bg.png) repeat-x;
  text-decoration:none;
}

.sidebox-content ul.menu li a {
  font-weight: bold;
}

.sidebox-content ul.menu li ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebox-content ul.menu li ul li {
  margin: 0;
  margin-left: 10px;
  padding: 0;
  list-style: none;
  background: url();
}

.sidebox-content ul.menu li ul li a {
  font-weight: normal;
}

.sidebox-content ul.menu li ul li a.active {
  color: #2f3746;
  font-weight: bold;
}

.sidebox-content ul.menu li ul li a.active:hover {
  color: #ffffff;
  font-weight: bold;
}

/* Misc Elements */

.item-list {
  color: #999999;
}

.item-list ul {
  padding: 10px 0;
  margin: 0;
}

.item-list ul li {
  padding: 0 0 5px 5px;
  margin: 0;
  list-style:none;
  font-size: 0.9em;
}

.item-list ul li a {
  font-size: 1.0em;
  font-weight: bold;
}

.sidebox-content .item-list ul {
  padding: 10px 0;
  margin: 0;
}

.submitted {
  font-size: 0.8em;
  color:#999999;
}

.title, .node-title {
  padding: 0;
  margin: 0;
  font-size: 2.0em;
  line-height: 1.5em;
  font-weight: bold;
}

.title a {
  text-decoration: none;
}

.node {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dashed #a9c9ff;
  background: url(images/node-bg.png) repeat-x bottom;
}

.breadcrumb {
  float: left;
  font-weight: bold;
}

.block-region {
  padding: 10px;
  border: 2px dashed #333333;
  background:#FFFFFF;
}

.links {
  clear: both;
  font-size: 1.0em;
  font-weight: bold;
}

.more-link a {
  padding: 0 2px;
  font-weight: bold;
  border: 1px solid #2d3644;
  background: #c0d7fd;
}

#search-block-form {
  width: 100%;
  text-align: center;
}

.indented {
  margin-left: 30px;
}

/* Comments */

#comments {
}

#comments .submitted  {
  color: #2d3644;
}

.comment {
  padding: 10px;
  margin-bottom: 10px;
  color: #363636;
  border: 1px solid #a1acc0;
  background: #dfebff;
}

.indented .comment {
  background: #fffbcf;
}

.indented .subject a {
  color: #999999;
}


/* Aggregator */

.feed-url {
  padding: 10px 0;
  font-size: 0.8em;
}

.feed-updated {
  padding: 0 0 10px 0;
  font-size: 0.8em;
}

.feed-item-date {
  font-size: 0.8em;
  color:#999999;
}

.feed-item-body a {
  font-weight: bold;
}

/* Poll */

.poll {
  padding: 5px 0;
}

.poll .bar {
  height: 1.0em;
  background: url(images/poll-bar.png) repeat-x;
}

.poll .bar .foreground {
  height: 1.0em;
  background: url(images/poll-foreground.png) repeat-x;
}

.sidebox-content .poll .title {
  font-size: 1.0em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

/* Primary Links */

#primary-links h2 {
  display:none;
}

#primary-links {
}

#primary-links, #primary-links ul {
  padding: 0;
  margin: 0;
  line-height: 30px;
  list-style: none;
  background: url(images/primary-bg.png) repeat-x;
}

#primary-links a {
  display: block;
  margin: 0;
  padding: 0 11px 0 0;
  font-weight: bold;
  font-size: 12px;
  color: #171c23;
  text-decoration: none;
  background: url(images/primary-r.png) right top no-repeat;
}

#primary-links li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0 0 0 11px;
  background: url(images/primary-l.png) left top no-repeat;
}

#primary-links li:hover a {
  color: #303a49;
  background: url(images/primary-hover-r.png) right top no-repeat;
}

#primary-links li:hover {
  background: url(images/primary-hover-l.png) left top no-repeat;
}

#primary-links li:hover li a, #primary-links li:hover li {
  color: #171c23;
  background: #aebfd8;
}

#primary-links li ul {
  margin-left: -10px;
  position: absolute;
  width: 210px;
  left: -999em;
  border: 3px solid #d9dbde;
  background: #aebfd8;
  z-index: 100;
}

#primary-links li:hover ul, #primary-links li.sfhover ul {
  left: auto;
}

#primary-links li ul li a, #primary-links li ul li {
  padding: 0 0 0 5px;
  margin: 0;
  width: 200px;
  background: #aebfd8;
}

#primary-links li ul li a:hover, #primary-links li ul li:hover {
  color: #ffffff;
  background: #3b475a;
}

#primary-links li:hover ul ul, #primary-links li.sfhover ul ul {
  left: -999em;
}

/* Secondary Links */

#secondary-links h2 {
  display:none;
}

#secondary-links {
  background: #d9dbde url(images/secondary-bg.png) top repeat-x;
}

#secondary-links, #primary-links ul {
  padding: 0;
  margin: 0;
  line-height: 30px;
}

#secondary-links a {
  display: block;
  margin:0;
  padding: 0 15px 0 0;
  font-size: 11px;
}

#secondary-links li {
  float: left;
  margin:0;
  padding: 0 0 0 0;
  list-style: none;
}

#secondary-links li:hover a {
  color: #303a49;
}
